spring:
  config:
    activate:
      on-profile: "local"

  myapp:
    frontend-redirect-url: http://localhost:8080
    app-redirect-uri: com.yeonjae.snapguide://oauth/callback


  server:
    port: 8080

  datasource:
    url: jdbc:postgresql://localhost:5432/snapguidedb
    username: ${POSTGRES_USER_LOCAL}
    password: ${POSTGRES_PASSWORD_LOCAL}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        spring.jpa.properties.hibernate.use_sql_comments: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: profile, email

  web:
    resources:
      static-locations:
        - classpath:/static/
        - file:/Users/kim-yeonjae/Desktop/Study/snapguide/uploads/
logging:
  level:
    org.hibernate.SQL: debug

# Local development configurations
jwt:
  access-token-expiration: 1800000 # 30min
  refresh-token-expiration: 604800000 # 1week
  secret: ${JWT_SECRET}

google:
  maps:
    api:
      key: ${GOOGLE_MAPS_API_KEY}

storage:
  type: local
  local:
    base-dir: /Users/kim-yeonjae/Desktop/Study/snapguide/uploads
  nas:
    mount-dir: /mnt/nas/snapguide

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket: ${AWS_S3_BUCKET}
    region:
      static: ${AWS_REGION}
    stack:
      auto: false